@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
